<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>894562685256-9aakkijmbp5uhr237ejuvqmeqevhubuo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.894562685256-9aakkijmbp5uhr237ejuvqmeqevhubuo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>894562685256-6o3kdg56b8t6ah09nb93cq23ro787tg7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAH0mYRN0jZPtJxX8USwQvGgVl6FDWVAjU</string>
	<key>GCM_SENDER_ID</key>
	<string>894562685256</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.catglabs.ffsandbox</string>
	<key>PROJECT_ID</key>
	<string>flutterflow-sandbox-app</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterflow-sandbox-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:894562685256:ios:096b93f281b3e810fee37d</string>
</dict>
</plist>